<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{data.name}}
    {% comment %} <a href="{% url 'first' %}">First</a>
     <a href="{% url 'last' %}">last</a> 
     <a href="{% url 'latest' %}">latest</a>
     <a href="{% url 'earliest' %}">earliest</a> 
     <a href="{% url 'exists' %}">exists</a>  {% endcomment %}
     <a href="{% url 'all_details' %}">details</a> 
     <a href="{% url 'filter' %}">filter</a> 
     <a href="{% url 'exclude' %}">Exclude</a> 
     <a href="{% url 'order' %}">order</a> 
     

    
</body>
</html>