<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body align="center" style="background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);">
    <h1>-----login Page----</h1> <br> <br>
    {{msg}}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
    
    <label for="">Email</label>
    <input type="email" name="email" placeholder="Enter your mail" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br> <br> 
    
    <label for="">Password</label>
    <input type="password" name="password" placeholder="Enter your password" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br> <br> 
    <a href="{% url 'register' %}" style="padding: 10px; background-color: black; border: 1px solid black; border-radius: 30px; text-decoration: none; color: wheat;">Register</a> 
    <button style="padding: 9px; background-color: black; border: 1px solid black; border-radius: 30px; text-decoration: none; color: wheat;">login</button>
     {% comment %} <div class="alert alert-success">
        <strong>Success!</strong> <h1>{{msg}}</h1>
      </div>  {% endcomment %}
    

    </form>
    
</body>
</html>