<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body align="center" style="background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);">
    <h1>-----Registration Page----</h1> <br> 
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
    <label for="">Name :</label>
    <input type="text" name="name" placeholder=" Enter your name" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br>
    <label for="">Email :</label>
    <input type="email" name="email"placeholder="Enter your mail" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br>
    <label for="">Contact :</label>
    <input type="number"name="contact"placeholder="Enter your number" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br>
    <label for="">Password :</label>
    <input type="password" name="password" placeholder="Enter your password" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br>
    <label for="">Confirm Password :</label>
    <input type="password" name="cpass"placeholder="confirm password" style="background-color: transparent; border: 1px solid grey; border-radius:10px" required> <br> <br>
    <button style="padding: 9px; background-color: black; border: 1px solid black; border-radius: 30px; text-decoration: none; color: wheat;">Submit</button>
    <a href="{% url 'login' %}" style="padding: 12px; background-color: black; border: 1px solid black; border-radius: 30px; text-decoration: none; color: wheat;">Login</a>
    <h1>{{msg}}</h1>
    
    <!-- <div class="alert alert-danger">
        <strong>Success!</strong>
          <h1>{{msg}}</h1>
      </div> -->
    

    </form>
    
</body>
</html>